doctype html
html
    head
        meta(charset='utf-8')
        title #{title}
        style.
            .class{
            background: linear-gradient(to bottom right, #0c9c91 0%, #3fe0d3 100%);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-family: 'Source Sans Pro', sans-serif;
            overflow: scroll;
            }
            .login-form {
            width: 300px;
            margin: 0 auto;
           
            
            }
           
           
            .class h1 {
            text-align: center;
            color: #FFFFFF;
            font-size: 40px;
            padding: 10px 0 10px 0;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight:300;
            margin-bottom:5px;
            }
            .class h2 {
            text-align: center;
            color: #FFFFFF;
            font-size: 30px;
            padding: 10px 0 10px 0;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight:300;
            margin-bottom:15px;
            }
            .login-form input[type="submit"] {
            position:relative;
            width: 100%;
            padding: 20px;
            -background-color: fade(white, 20%);
            -border:1px solid fade(white, 40%);
            border-radius: 15px;
            box-sizing: border-box;
            cursor: pointer;
            color: #097d74;
            font-weight:300;
            font-size: 20px;

            }
            .login-form input[type="submit"]:hover {
            background-color: #b0ebe7;

            }
            

    body
        .class
            h1 #{title}
            h1 #{title1}
            h2 #{title2}
            .login-form
                br
                br
               
                   
                form(method='GET' action='/home-page')
                    input(
                    type='submit'
                    name='Home Page'
                    placeholder='Return to Home Page'
                    value='Return to Home Page'
                    )
                   
                   
                   


